.frame {
  width: 12vw;
  height: 12vw;
  max-height: 12vh;
  max-width: 12vh;
  background-color: gray;
}

.circle {
  position: relative;
  left: 4%;
  top: 4%;
  width: 92%;
  height: 92%;
  border-radius: 50%;
}

.unclaimed {
  background-color: white;
}

.claimedPlayer1 {
  background-color: blue;
}

.claimedPlayer2 {
  background-color: red;
}

.claimedPlayer4 {
  background-color: blueviolet;
}
