.frame {
  width: 12vw;
  height: 12vw;
  max-height: 12vh;
  max-width: 12vh;
  background-color: var(--primary-bg-color);
}

.circle {
  position: relative;
  left: 4%;
  top: 4%;
  width: 92%;
  height: 92%;
  border-radius: 50%;
}

.unclaimed {
  background-color: var(--primary-text-color);
}

.claimedPlayer1 {
  background-color: var(--player-1-color);
}

.claimedPlayer2 {
  background-color: var(--player-2-color);
}

.claimedPlayer4 {
  background-color: var(--secondary-bg-color);
}
